.main-container {
  width: 100%;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 2%;
  padding: 20px;
}

.card {
  flex: 0 1 calc(30% - 40px); /* Adjusting for gap */
  max-width: 400px; /* Maintain a maximum width for larger screens */
  min-width: 250px; /* Minimum width for smaller screens */
  height: 350px; /* Fixed height for all cards */
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-left: 1rem;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  margin-left: 1rem;
}

.card-rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.stars {
  color: #FFD700;
  margin-bottom: 2rem; 
  margin-left: 1rem;
}

.rating-score {
  font-size: 14px;
  font-weight: 500;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.project {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin-left: 2%;
}

.project-left {
  text-align: left;
}

.project-left h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-top: 20px;
}

.project-left p {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.navigation {
  text-align: right;
  margin-right: 9%;
}

.navigation .nav-button {
  background-color: #090909;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 5px;
  margin-top: 2.5rem;
  cursor: pointer;
}

.navigation .nav-button1 {
  background-color: white;
  color: grey;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 calc(100% - 20px); /* One card per row on mobile */
  }
}
