.banner {
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 40px);
    overflow: hidden; /* Ensure the image doesn't overflow */
}

.content-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-text-section {
    flex: 1;
    max-width: 50%;
}

.banner-text-section h1 {
    font-size: 2.5rem; /* Adjusted for better responsiveness */
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text-section p {
    font-size: 1rem; /* Adjusted for better responsiveness */
    color: #666;
    margin-bottom: 30px;
}

.input-group {
    max-width: 400px;
}

.input-group input {
    border-radius: 50px 0 0 50px;
    padding: 15px 20px;
    border: 1px solid #ccc;
}

.input-group button {
    border-radius: 0 50px 50px 0;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
}

.image-section-banners {
    max-width: 100%; /* Ensure it doesn’t exceed the container width */
    height: auto; /* Keep aspect ratio */
    position: relative;
    z-index: 1;
    margin-top: 3%;
}

.imgcircle-banners {
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    max-width: 30rem; /* Maximum width to prevent overflow */
}

@media (max-width: 768px) {
    .banner {
        max-width: calc(100% - 20px);
    }

    .banner-text-section, .image-section-banners {
        max-width: 100%;
        flex: 100%;
        text-align: center;
    }

    .banner-text-section {
        margin-bottom: 20px;
    }

    .banner-text-section h1 {
        font-size: 2rem; /* Smaller font size on smaller screens */
    }

    .banner-text-section p {
        font-size: 0.9rem; /* Smaller font size on smaller screens */
    }
}
